Package: com.chinapyg.lookinloader-rootless
Name: LookinLoader-rootless
Depends: mobilesubstrate, preferenceloader, com.opa334.altlist
Version: 2.0.7
Architecture: iphoneos-arm
Description: An awesome Lookin Loader for iOS8~iOS13!(https://www.chinapyg.com)
Maintainer: creantan/P.Y.G
Author: creantan/P.Y.G
Section: Tweaks
Homepage: https://www.chinapyg.com
Icon: file:///Library/PreferenceLoader/Preferences/lookin@2x.png
